spring:
  application:
    name: solo-leveling-gateway
  mustache:
    check-template-location: false
  messages:
    basename: messages
    encoding: UTF-8
    cache-duration: -1
    fallback-to-system-locale: false
  kafka:
    bootstrap-servers: localhost:29092
    properties:
      schema.registry.url: http://localhost:8081
    avro:
      group-id: ui-group
  data:
    redis:
      host: localhost
      port: 6379
      lettuce:
        pool:
          max-active: 8
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration
  threads:
    virtual:
      enabled: true
app:
  grpc:
    services:
      player:
        host: localhost
        port: 11001
  telegram:
    bot:
      token: ${TELEGRAM_BOT_TOKEN_DEV}
  jwt:
    secret: ${JWT_SECRET}
    access-lifetime: 1_200_000
    refresh-lifetime: 18_000_000
  cors:
    hosts:
      - https://solo-leveling.online
      - https://solo-leveling-ui.ru.tuna.am
    methods:
      - GET
      - POST
      - PUT
      - DELETE
      - PATCH
      - HEAD
      - OPTIONS
  rabbitmq:
    stomp:
      host: localhost
      port: 61613
      username: ${RABBITMQ_DEFAULT_USER}
      password: ${RABBITMQ_DEFAULT_PASS}
      destination-prefixes:
        - /queue
        - /topic
      user-destination-prefix: /user
      user-destination-broadcast: /topic/unresolved-user-destination
      user-notification-destination: /queue/notifications
      application-destination-prefixes:
        - /app
management:
  endpoints:
    web:
      exposure:
        include: "*"
server:
  port: 10002
  servlet:
    session:
      timeout: P7D
logging:
  level:
    org.atmosphere: WARN
    org.apache.kafka.clients.consumer.ConsumerConfig: WARN
    org.apache.kafka.clients.producer.ProducerConfig: WARN
    io.confluent.kafka.serializers.KafkaAvroDeserializerConfig: WARN
    io.confluent.kafka.serializers.KafkaAvroSerializerConfig: WARN