@import url('./main-layout.css');
@import url('./views/homepage-view.css');
@import url('./views/my-view-view.css');

html {
  --lumo-primary-color: hsl(214, 100%, 98%);
  --lumo-primary-color-50pct: hsla(214, 100%, 98%, 0.5);
  --lumo-primary-color-10pct: hsla(214, 100%, 98%, 0.1);
  --lumo-success-color: hsl(145, 55%, 33%);
  --lumo-success-color-50pct: hsla(145, 55%, 33%, 0.5);
  --lumo-success-color-10pct: hsla(145, 55%, 33%, 0.1);
  --lumo-base-color: #1f1f1f;
  --lumo-body-text-color: hsla(214, 0%, 99%, 0.94);
  --lumo-primary-text-color: hsl(214, 20%, 99%);
  --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
  --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
  --lumo-border-radius-l: var(--lumo-size-m);
}

body, #outlet {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  margin: 0;
}

[theme~="dark"] {

}
